$color-black: #000;

.featured {
  text-align: center;
}

.thumbnail {
  float: left;
  margin-right: 10px;
}

.column {
  text-align: center;
}

.thumbnailWrapper {
  color: $color-black;
  display: inline-block;
  height: 180px;
  margin-bottom: 20px;
  overflow: hidden;
  padding-right: 20px;
  text-align: left;
  text-decoration: none;
  width: 600px;

  &:visited {
    color: $color-black;
  }
}
